examples/b.xsd

<?xml version="1.0" encoding="ISO-8859-2"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" xml:lang="pl">
  <xsd:include schemaLocation="a.xsd"/>
  <xsd:complexType name="bbb">
      <xsd:element name="ba" type="aaa" minOccurs="0"/>
      <xsd:element name="bc" type="string" minOccurs="0"/>
  </xsd:complexType>
  <xsd:complexType name="cc">
      <xsd:element name="ba" type="aaa" minOccurs="0"/>
      <xsd:element name="bc" type="string" minOccurs="0"/>
  </xsd:complexType>
</xsd:schema>
